%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.visible-xs{href: "/"} Huber
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.custom-brand
          %a{href: "/"} Huber
        - if current_user
          %li.pull-right= link_to "Logout", signout_path
        - else
          %li.pull-right= link_to "Sign in with Github", create_account_path
